<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <dubbo:application name="order-provider"/>
    <dubbo:protocol name="dubbo" port="20891" dispatcher="all" threadpool="fixed" threads="100"/>
    <bean id="orderService" class="com.github.service.order.impl.OrderServiceImpl"/>
    <dubbo:service interface="com.github.service.order.OrderService" timeout="600000" ref="orderService" registry="N/A"/>
</beans>